/* @import './base.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-area-inset-top{
	padding-top: constant(safe-area-inset-top);
 	padding-top: env(safe-area-inset-top);
}
.safe-area-inset-bottom{
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

:root[type='b'] {
	background: var(--van-background-2);
}
